/*STRUCTURE*/
#map-container {width: 600px; height: auto; padding: 5px; background: #ffffff; margin: 0 auto 0 auto;}

#map-action-bar {display: block; width: 100%; height: auto; background:#ffffff; text-align: center; margin: 25px auto 0 auto;}

#map-canvas {display: block; width: 600px; height: 350px; margin: 0 auto 0 auto;}

#map-explainer {margin: 25px 0 15px 0;}

#ft-ouput {display: block; float: left; width: 295px; height:300px; margin: 10px auto 0 auto;}

#chart-container {display: block; float: right; width: 295px; height:300px; margin: 10px auto 0 auto;}

/*STYLES*/
.small {font-size: 10px; line-height: 14px; clear: both;}
.small a {text-decoration: none;}

/*LEGEND*/
#map-action-bar .highest  {background-color:#123601;}
#map-action-bar .second-highest {background-color: #41C204;}
#map-action-bar .median {background-color: #E8E8E8;}
#map-action-bar .second-lowest {background-color: #C23900;}
#map-action-bar .lowest {background-color: #361000;}

table {width: 290px;}
table,th,tr,td {border-width: 0px; border-style: solid; border-color: gray; border-collapse: collapse; background-color: white;}
th {color: #fff; background-color: #aaa; padding: 5px 5px; border-top: 4px solid #555; font-weight: bold}
td {text-align: center;}