<div id="content-article">
    <h4 class="kicker">Pension Reform</h4>
    <h1>Contributions to LA's 3 largest pension funds</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/frank-stoltze" target="_blank">Frank Stoltze</a>, <a href="http://www.scpr.org/about/people/staff/eric-zassenhaus" target="_blank">Eric Zassenhaus</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller" target="_blank">Chris Keller</a></span> | <span class="pubdate">Updated April 24, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>lorum nstuff</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="http://www.scpr.org/politics/">Read More</a>
    </div>
</div>