/*
 
 File:RoundRectangle.css
 
 Abstract: CSS code for the RoundRectangle sample 
 
 Version: <1.0>
 
 Disclaimer: IMPORTANT:	 This Apple software is supplied to you by 
 Apple Inc. ("Apple") in consideration of your agreement to the
 following terms, and your use, installation, modification or
 redistribution of this Apple software constitutes acceptance of these
 terms.	 If you do not agree with these terms, please do not use,
 install, modify or redistribute this Apple software.
 
 In consideration of your agreement to abide by the following terms, and
 subject to these terms, Apple grants you a personal, non-exclusive
 license, under Apple's copyrights in this original Apple software (the
 "Apple Software"), to use, reproduce, modify and redistribute the Apple
 Software, with or without modifications, in source and/or binary forms;
 provided that if you redistribute the Apple Software in its entirety and
 without modifications, you must retain this notice and the following
 text and disclaimers in all such redistributions of the Apple Software. 
 Neither the name, trademarks, service marks or logos of Apple Inc. 
 may be used to endorse or promote products derived from the Apple
 Software without specific prior written permission from Apple.	 Except
 as expressly stated in this notice, no other rights or licenses, express
 or implied, are granted by Apple herein, including but not limited to
 any patent rights that may be infringed by your derivative works or by
 other works in which the Apple Software may be incorporated.
 
 The Apple Software is provided by Apple on an "AS IS" basis.  APPLE
 MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
 THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS
 FOR A PARTICULAR PURPOSE, REGARDING THE APPLE SOFTWARE OR ITS USE AND
 OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS.
 
 IN NO EVENT SHALL APPLE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL
 OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION,
 MODIFICATION AND/OR DISTRIBUTION OF THE APPLE SOFTWARE, HOWEVER CAUSED
 AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
 STRICT LIABILITY OR OTHERWISE, EVEN IF APPLE HAS BEEN ADVISED OF THE
 POSSIBILITY OF SUCH DAMAGE.
 
 Copyright (C) 2007 Apple Inc. All Rights Reserved.
 
 */ 
 

body
{
	margin: 0;
	padding: 0;
	margin-left:10px;
	background-color: rgb(197,204,211);	 /* Set the page color to light blue */
	-webkit-text-size-adjust:none;		  /* Turn off font resizing */
}


h1 
{
	margin:0;
	padding-top:10px;		  
	padding-right:10px;		 
	padding-bottom:10px;	
	padding-left:10px;
	
	font-size:17px;
	font-family: Helvetica;
	font-weight:bold;
	color: rgb(76,86,108);	 /* Set each label color */		
}

ul 
{	   
	padding: 0;	   
	margin-top:0;
	margin-right:10px;
	margin-bottom:17px;		  /* Set each list 17 pixels from the top of the button bar(or the top of the next list) */
	
	font-size:17px;
	font-family: Helvetica;
	font-weight:bold;
	color:black;
	
	width: 300px;
	background-color: white;       /* Each list has a white background fill */
	
	border-width: 1px;		       /* Draw a rectangle around each list */
	border-style:solid ;
	border-color:rgb(217,217,217);
	
	-webkit-border-radius: 8px;		 /* Round each corner of the created rectangle */
}


li
{	
	list-style-type: none;	
	
	border-top-width:1px;	/* Create lines between cells. Each line is placed above each item */
	border-top-style:solid;
	border-top-color:rgb(217,217,217);

	padding-top:10px;		  
	padding-right:10px;		 
	padding-bottom:14px;	 /* Indent the cell content 14 pixels from the bottom edge of a cell */
	padding-left:10px;	
}


li:first-child 
{
	border-top:0;    /* Remove border above the first item of the list */
}


a  /* Handle the click/tap highlight. Highlight an entire cell with the iPhone grey background when tapped */ 
{
	display: block;   /* Sets the href to be a block rather than inline */
	
	/* The padding properties adjust the text content within the href block */
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
	padding-left: 8px;
	
	/* The margin properties adjust the size of the href block	*/
	margin-top: -8px;
	margin-right: -8px;
	margin-bottom: -12px;
	margin-left: -8px;	 
	
	text-decoration: none;
	color:black;
}


.showArrow /*	Add an arrow button to a link */
{  
	margin-right:10px;		
	padding-right:16px;	   /* Distance between the arrow button and a text */
	
	background-image: url(images/chevron.png); 
	background-repeat: no-repeat;
	background-position: right; 
}


.secondary	/* Used for secondary text (text that is less important) */
{
	font-weight:normal;		/* Regular font is used for secondary text */
	float:right;		     /* Align secondary text to the right of its parent cell */
	margin-right:10px;	  
}



.secondaryWArrow /* Used for secondary content that contains a link and a button */
{
	display:block;		 /* Set the secondary content to be a block	 */
	font-weight:normal; 
	float:right;
	color: #324F85;		 /* sets the color of the link */
}


.secondaryWLink /* Used for secondary text that is a link */
{
	font-weight:normal;		
	float:right;		  
	margin-right:10px;	  
	color: #324F85;		 /* sets the color of the link */
}