<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

<!--
            <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
            </div>
-->
            <div id="sources">
                <p class="normal-display"><strong>Source(s): </strong><a href="http://cityclerk.lacity.org/election/archives/archives2013/primary/svcptotl.txt">Los Angeles City Clerk's Office</a>.</p>
            </div>
            <div id="open-source">
                <p class="small-display">Built using <a href="http://albertsun.info/">Albert Sun's</a> <a href="https://github.com/albertsun/gmap-features">gmap-features</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>