<div class="row-fluid">
    <div class="span4">
        <div id="content-user-submit"></div>
        <div id="content-display"></div>
    </div>
    <div class="span8">
        <div id="content-explainer"></div>
        <div id="content-action-bar"></div>
        <div id="content-map-canvas"></div>
    </div>
</div>