<h1>{{headline}}</h1>
<p>{{message}}<a href="http://lab.adrianquevedo.com/jquery-spectragram/" target="_blank">Meanwhile, check this out.</a></p>
<p>And after the search results pop up, be sure to look for the maps showing where the tweet came from, if the user chose to geocode their tweet.</p>