<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>Project Base | scpr.org</title>
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="http://media.scpr.org/assets/images/icon.png">
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="robots" content="#" />
        <meta name="description" content="#" />
        <meta name="keywords" content="#" />
        <meta property="og:title" content="#" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://www.scpr.org/assets/kpcc-twitter-logo-f43790c570b1b6c6890ce868e0c654b8.png" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="500" />
        <meta property="og:url" content="#" />
        <meta property="og:description" content="#" />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="#">
        <meta name="twitter:domain" content="http://projects.scpr.org/">
        <meta name="twitter:site" content="KPCC">
        <meta name="twitter:title" content="#">
        <meta name="twitter:description" content="#">
        <meta name="twitter:image:src" content="http://www.scpr.org/assets/kpcc-twitter-logo-f43790c570b1b6c6890ce868e0c654b8.png">
        <!-- end meta -->

        <!-- begin css -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/v3-dependencies/css/main-foundation-style-v3.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

        <!-- html5 shim and respond.js ie8 support of html5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <![endif]-->
        <!-- end css -->

        <!-- begin base scripts -->
        <script src="http://use.typekit.com/mhc7oxs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script async="" src="http://www.google-analytics.com/ga.js"></script>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="minimal">

        <div class="kpcc-header"></div>

<!-- begin main container -->
        <div class="container data-container">
            <div class="row data-details">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="content-article">
                        <div class="headlines">
                            <h4 class="kicker">Subhead here</h4>
                            <h1>Lead Headline Here</h1>
                        </div>
                        <div class="text collapse">
                            <p><span class="credits">Produced by <a href="#">Xxxx Xxxxxx</a> &amp; <a href="#">Xxxx Xxxxxx</a></span> | <span class="pubdate">Published Oct. 28, 2013</span></p>
                            <p>Beard hoodie, magna tumblr chillwave. Letterpress thundercats fixie consectetur accusamus cray gastropub bicycle rights. Adipisicing narwhal magna marfa. Fap photo booth cred, excepteur organic terry richardson vegan aesthetic narwhal. Food truck viral sint vinyl cred. Mustache aute consequat salvia, synth etsy irure +1. High life etsy ullamco, officia voluptate nihil brunch cillum nostrud photo booth duis Austin hella banjo.</p>
                        </div>
                        <div class="about collapse">
                            <p><span class="pij">This project was informed by KPCC listeners. <a href="http://www.scpr.org/network/">Become a source. </span></a></p>
                            <p><strong>About the data:</strong> Beard hoodie, magna tumblr chillwave. Letterpress thundercats fixie consectetur accusamus cray gastropub bicycle rights. Adipisicing narwhal magna marfa. Fap photo booth cred, excepteur organic terry. <strong>Source(s): </strong><a href="#" target="_blank">Beard hoodie, magna tumblr chillwave </a> and <a href="#" target="_blank">Beard hoodie, magna tumblr chillwave </a>. <strong>Built using</strong>: <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
                            </p>
                        </div>
                        <div class="buttons btn-group btn-group-justified">
                            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                            <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row data-legend"></div>
            <div class="row data-visuals">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="progress progress-striped active hidden">
                        <div class="progress-bar"  role="progressbar" aria-valuenow="100" style="width: 100%"></div>
                    </div>
                    <div id="app"></div>
                    <div id="detail"></div>
                </div>
            </div>
            <div class="row kpcc-footer"></div>
        </div>
        <!-- end main container -->

        <script id="list-template" type="text/template">
            <a href='#legislator/<%= id %>'><%= first_name %> <%= last_name %></a>
        </script>

        <script id="detail-template" type="text/template">
            <h2><%= first_name %> <%= last_name %>'s id is <%= id %></h2>
            <p><a href="javascript:void(0)" id="<%= bioguide_id %>"><%= bioguide_id %></a></p>
            <p><%= title %>. <%= first_name %> <%= middle_name %> <%= last_name %> (<%= party %> - <%= district %>)</p>
            <p><%= chamber %></p>
            <p><%= state_name %></p>
            <p><%= term_start %></p>
            <p><%= term_end %></p>
            <p><%= birthday %></p>
            <p><%= office %></p>
            <p><%= phone %></p>
            <p><%= fax %></p>
            <p><%= twitter_id %></p>
            <p><%= website %></p>
            <p><%= youtube_id %></p>
            <hr />
        </script>

        <!-- begin scripts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/jquery.alerts.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/geocomplete/1.4/jquery.geocomplete.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/handlebars-ajax.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAtS1OYyuRY0inb23BK0nuGId3FiOC6Rb8&sensor=false&amp;libraries=places"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/models/legislator.js"></script>
        <script src="scripts/collections/legislators.js"></script>
        <script src="scripts/views/appView.js"></script>
        <script src="scripts/views/listView.js"></script>
        <script src="scripts/views/detailView.js"></script>
        <script src="scripts/router/router.js"></script>
        <!-- end scripts -->

        <!-- begin analytics -->
        <!--
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-624724-5']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

        <script type="text/javascript">
            var _sf_async_config={uid:2825,domain:"projects.scpr.org"};
            (function(){
                function loadChartbeat() {
                    window._sf_endpt=(new Date()).getTime();
                    var e = document.createElement('script');
                    e.setAttribute('language', 'javascript');
                    e.setAttribute('type', 'text/javascript');
                    e.setAttribute('src',
                        (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
                    document.body.appendChild(e);
                };
                var oldonload = window.onload;
                window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
            })();
        </script>
        -->
        <!-- end analytics -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->