/*------------------------------
=Typography
------------------------------*/
/* Font Stylings */
h1 {
	font-size: 30px;
	line-height: 40px;
	padding: 20px 0px px 0px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	padding: 15px 0;
}

h3 {
	font-size: 18px;
	line-height: 20px;
	padding: 10px 0;
}

p {
	padding-bottom: 10px;
	text-indent : 15px;
}

.blockright h2 {
	text-transform:uppercase;
}

.blockleft h2 {
	text-transform:uppercase;
}

/* Articles */
.blogPost header p, .blogPost header p a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}
	
.blogPost header p a:hover {
	text-decoration: none;
	color: #000;
}

.blogPost div {
	/* Column-count not implemented yet
	-moz-column-count: 2;
	-webkit-column-count: 2; */
	
	/* Column-gap not implemented yet
	-moz-column-gap: 22px;
	-webkit-column-gap: 22px; */
	padding-bottom: 25px;
}
	
.blogPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}


.leftPost header p, .leftPost header p a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}

p.catheader {
text-transform:uppercase;
	text-indent : 0px;
}
	
.leftPost header p a:hover {
	text-decoration: none;
	color: #000;
}

.leftPost div {
	padding-bottom: 0px;
}
	
.leftPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}


.rightPost header p, .rightPost header p a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}
	
.rightPost header p a:hover {
	text-decoration: none;
	color: #000;
}

.rightPost div {
	padding-bottom: 0px;
}
	
.rightPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}


.video h1 {
	font-size: 30px;
	line-height: 40px;
	padding: 20px 0px px 0px;
	color: #333333;
}