/* body */
body {
    background-color: #ddd; /* background color */
    color: #222;            /* foreground color used for text */
    font-family: Helvetica; /* font family */
    font-size: 14px;		/* font side */
    margin: 0;              /* amount of negative space around the outside of the body */
    padding: 0;             /* amount of negative space around the inside of the body */
}

/* header */
#header h1 {
    margin: 0px; 	/* sets margins */
    padding: 0px; 	/* larger the number, the smaller the title bar*/
}
#header h1 a {
    background-color: #ccc; 		/* background color of title bar */
    border-bottom: 1px solid #666; 	/* sets border */
    color: #222; 					/* sets color of border*/
    display: block;					/* CSS3 display */
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;				/* centers text */
    text-decoration: none;
}

#header ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}
#header ul li a {
    background-color: #FFFFFF;		/* sets the ul with a white background */
    border: 1px solid #999999;
    color: #222222;
    display: block;					/* sets the ul as a block */
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

/* additional header stylizing */
#header h1 a {
	/* adds white drop shadow to logo - horizontal offset, vertical offset, blur, and color*/
    text-shadow: 0px 1px 0px #fff;		
    /* gradient to background - gradient type (linear or radial), starting point (left top, left bottom, right top, or right bottom), end point, starting color, ending color. */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
}

#header ul li:first-child a {
	-webkit-border-top-left-radius: 8px; /* adds rounded corners to ul blocks */
    -webkit-border-top-right-radius: 8px;
}
#header ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#header ul.hide {
    display: none;		/* show and hide navigation section */
}

/* menu button */
#header div.leftButton {
    position: absolute;		/* set the position to absolute to remove the div */
    top: 7px;
    left: 6px;
    height: 30px;			/* set height so it's big enough to tap */
    font-weight: bold; 		/* makes the font bold */
    text-align: center;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px; 		/* sets shadow */
    line-height: 28px;		/* moves the text down vertically in the box so it’s not flush up against the top border */
    border-width: 0 8px 0 8px;
    -webkit-border-image: url(/chriskeller/images/button.png) 0 8 0 8;
}

#header div.pressed {
    -webkit-border-image: url(/chriskeller/images/button_clicked.png) 0 8 0 8;	/* toggles menu button when pressed */
}


/* main structure */
#content, #sidebar {
    padding: 20px;		/* indent the text from the edge of the screen */
}

#content, #sidebar h1 {
    font-size: 14px;
	margin-bottom: -40px;
}


#sidebar img {
	    border: 1px solid #222;
}

#footer {
    display: none;		/* hides the footer content */
}
