<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">
            <!-- thanks for setting the standard Mr. John Keefe -->
            <div id="embed-this">
            <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
            </div>
            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://www.treasurer.ca.gov/">California State Treasurer's Office</a>.</p>
            </div>
            <div id="open-source">
                <p class="small-display">Built using <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
            </div>
        </div>
    </div>
</div>