<div id="content-article">
    <h4 class="kicker">Subhead here</h4>
    <h1>Lead Headline Here</h1>

    <div id="content-article-metadata">
        <p><span class="credits"><a href="http://www.scpr.org/about/people/staff/kitty-felde">Kitty Felde</a> &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated April 3, 2013</span></p>
    </div>

    <div id="content-article-text">
        <p>Beard hoodie, magna tumblr chillwave. Letterpress thundercats fixie consectetur accusamus cray gastropub bicycle rights. Adipisicing narwhal magna marfa. Fap photo booth cred, excepteur organic terry richardson vegan aesthetic narwhal. Food truck viral sint vinyl cred. Mustache aute consequat salvia, synth etsy irure +1. High life etsy ullamco, officia voluptate nihil brunch cillum nostrud photo booth duis Austin hella banjo.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-info" href="#">Read More</a>
        <a class="btn btn-success" id="showmodule" href="#" onclick="userSubmit();">Submit an issue</a>
    </div>
</div>