<footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul>
                    <li><a href="http://scpr.org/terms/">Terms &amp; Conditions</a></li>
                    <li><a href="http://scpr.org/privacy/">Privacy</a></li>
                    <li><a href="http://scpr.org/web_site_feedback">Website Feedback</a></li>
                    <li>Copyright 2012 &copy; Southern California Public Radio</li>
                </ul>
            </div>
        </div>
    </div>
</footer>