/* DATA DISPLAY */

.data-container { margin-top: 15px; }

.data-display { margin: 25px 0 25px 0; }

.data-display .content { margin: 20px 0 5px 0; }

/* FIXED FOOTER */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin-bottom: -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #25849E;
}

#footer p, #footer a {color: #FFF ;}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container .credit { margin: 20px 0; }
.record-container { background-color: #EDD782; border-radius: 4px; }

#wrap { background-color: #F5F5F5; }


/* BOOTSTRAP */

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.btn {
  margin-right: 3px;
}
.list-inline li { padding: 3px 9px 3px 3px; color: #666; }



/* MAILCHIMP */

#mc_embed_signup { clear:left; font:14px Helvetica,Arial,sans-serif; background-color: #c4c4c4; padding: 3%; border-radius: 4px;}

#mc_embed_signup form { padding: 0 0 9% 0; }

#mc_embed_signup #mce-success-response {
  font-weight: 400;
  color: #666666;
  margin-left: 3%;
  margin-bottom: 3%;
}

#mc_embed_signup div.response {
  width: 100%;
}