/*
    File: photos.css
    
    Abstract: CSS file for the CSS_Transforms_Transitions_and_Web_Fonts sample.
    
    Version: 1.0
    
    Disclaimer: IMPORTANT:  This Apple software is supplied to you by
    Apple Inc. ("Apple") in consideration of your agreement to the
    following terms, and your use, installation, modification or
    redistribution of this Apple software constitutes acceptance of these
    terms.  If you do not agree with these terms, please do not use,
    install, modify or redistribute this Apple software.
    
    In consideration of your agreement to abide by the following terms, and
    subject to these terms, Apple grants you a personal, non-exclusive
    license, under Apple's copyrights in this original Apple software (the
    "Apple Software"), to use, reproduce, modify and redistribute the Apple
    Software, with or without modifications, in source and/or binary forms;
    provided that if you redistribute the Apple Software in its entirety and
    without modifications, you must retain this notice and the following
    text and disclaimers in all such redistributions of the Apple Software.
    Neither the name, trademarks, service marks or logos of Apple Inc.
    may be used to endorse or promote products derived from the Apple
    Software without specific prior written permission from Apple.  Except
    as expressly stated in this notice, no other rights or licenses, express
    or implied, are granted by Apple herein, including but not limited to
    any patent rights that may be infringed by your derivative works or by
    other works in which the Apple Software may be incorporated.
    
    The Apple Software is provided by Apple on an "AS IS" basis.  APPLE
    MAKES NO WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
    THE IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS
    FOR A PARTICULAR PURPOSE, REGARDING THE APPLE SOFTWARE OR ITS USE AND
    OPERATION ALONE OR IN COMBINATION WITH YOUR PRODUCTS.
    
    IN NO EVENT SHALL APPLE BE LIABLE FOR ANY SPECIAL, INDIRECT, INCIDENTAL
    OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
    SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
    INTERRUPTION) ARISING IN ANY WAY OUT OF THE USE, REPRODUCTION,
    MODIFICATION AND/OR DISTRIBUTION OF THE APPLE SOFTWARE, HOWEVER CAUSED
    AND WHETHER UNDER THEORY OF CONTRACT, TORT (INCLUDING NEGLIGENCE),
    STRICT LIABILITY OR OTHERWISE, EVEN IF APPLE HAS BEEN ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGE.
    
    Copyright (C) 2008 Apple Inc. All Rights Reserved.
*/
body {
  background: #ffffff url(images/background.jpg) repeat scroll top left; 
  margin: 0px;
}

/* define a CSS3 Web font - Tuffy is a public domain font created by Thatcher Ulrich */
@font-face {
  font-family: "Tuffy";
  src: url("Tuffy_Bold.otf");
}

h2 { 
  /* use the Tuffy font that we previously defined */   
  font-family: "Tuffy", serif;                 
  color: #006699;
  height: 80px; 
  margin-top: 15px;
  font-size: 68px;
  padding: 0px 0px 10px 20px;
  /* text shadow with x and y offset of 2px, blur radius of 1 px */
  text-shadow: rgb(187, 187, 187) 2px 2px 1px;
  
  /* white background with 35% opacity */
  background-color: rgba(255, 255, 255, 0.35);     
}

img {
  position: absolute;
  top: 280px;
  right: 420px;
  padding: 7px;
  border: 1px solid #666666;
  background-color: #ffffff;
  
  /* Specify the CSS properties that we'd like to animate/transition */
  -webkit-transition-property: -webkit-transform, top, right;
  
  /* Specify how long the duration should be for the animation/transition of each of the properties.
     In this case, it make sense to specify a 1s duration for -webkit-transform, top, and right to create 
     a smooth transition. This could also be written shorthand, '-webkit-transition-duration: 1s;'. */
  -webkit-transition-duration: 1s, 1s, 1s;
}
