<div class="row-fluid">
    <div class="span12">
        <p>
        <span class="normal-display"><strong>Sources: </strong><a href="#" target="_blank">Xxxxxxxxx</a>.</span><br />
        <span class="normal-display"><strong>Credits: </strong><a href="#" target="_blank">Xxxxxxxxx</a>.</span><br />
        <small>Built using <a href="#" target="_blank">Xxxxxxx</a>, <a href="#" target="_blank">Xxxxxxx</a> and <a href="#" target="_blank">Xxxxxxx</a></small>
        </p>
    </div>
</div>