<div id="article-footer">
    <div id="sources">
        <p class="normal-display"><strong>Sources: </strong><a href="http://www.boyleheightsbeat.com/boyle-heights-weekend-events-roundup-east-side-stories-hackathon-and-more-2483">Boyle Heights Beat</a>.</p>
    </div>

    <div id="credits">
        <p class="normal-display"><strong>Credits: </strong><a href="http://twitter.com/chrislkeller">Chris Keller</a>.</p>
    </div>

    <div id="open-source">
        <p class="normal-display">Built using <a href="https://github.com/jsoma/tabletop">tabletop.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
    </div>

    <div id="repo">
        <p class="normal-display">Fork the repo on <a href="https://github.com/chrislkeller/community_calendar">GitHib</a>.</p>
    </div>

</div>