<div id="content-article">
    <h4 class="kicker">Events</h4>
    <h1>Boyle Heights Beat community calendar</h1>

    <div id="content-article-text">
        <p>View events submitted by Boyle Heights Beat staff and community residents. To submit your own, click the button below.</p>
    </div>

    <a href="#fire-event-modal" role="button" class="btn btn-success" data-toggle="modal">Submit an Event</a>
    <div class="row-fluid">
        <div class="span12">
            <div id="fire-event-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fire-event-modal-label" aria-hidden="true">
                <div class="modal-header">
                    <h3 style="color: #ffffff;">Submit an event in Boyle Heights</h3>
                </div>
                <div id="modal-body" class="modal-body">
                    <div class="ss-form">
                        <script type="text/javascript">var submitted=false;</script>
                        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://www.projects.chrislkeller.com/projects/community_calendar/'; alert('Thank you for your submission. You may need to refresh the page to see it appear.');}"></iframe>
                        <form action="https://docs.google.com/forms/d/1gpJQSVRbam4NlQViegameUrzDDYx_o9CqblzRyLim5E/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item  ss-date">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_2006886779">
                                                <div class="ss-q-title">Event Date</div>
                                            </label>
                                            <input type="date" name="entry.2006886779" value="" class="ss-q-date" dir="auto" id="entry_2006886779">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item  ss-time">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_533376239">
                                                <div class="ss-q-title">Event Time</div>
                                            </label>
                                            <input type="time" name="entry.533376239" value="" class="ss-q-time" dir="auto" id="entry_533376239">
                                            <div class="ss-q-time-hint ss-secondary-text">Example: 11:00 AM</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item  ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_2079151722">
                                                <div class="ss-q-title">Event Title</div>
                                            </label>
                                            <input type="text" name="entry.2079151722" value="" class="ss-q-short" id="entry_2079151722" dir="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item  ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_1197205716">
                                                <div class="ss-q-title">Event Location</div>
                                            </label>
                                            <input type="text" name="entry.1197205716" value="" class="ss-q-short" id="entry_1197205716" dir="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item  ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_755760038">
                                                <div class="ss-q-title">Address</div>
                                            </label>
                                            <input type="text" name="entry.755760038" value="" class="ss-q-short" id="entry_755760038" dir="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item  ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_450768438">
                                                <div class="ss-q-title">City</div>
                                            </label>
                                            <input type="text" name="entry.450768438" value="" class="ss-q-short" id="entry_450768438" dir="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item  ss-select">
                                        <div class="ss-form-entry">
                                        <label class="ss-q-item-label" for="entry_1484844113">
                                            <div class="ss-q-title">Select a category</div>
                                        </label>
                                        <select name="entry.1484844113" id="entry_1484844113">
                                            <option>Choose a category</option>
                                            <option value="Government">Government</option>
                                            <option value="Religion">Religion</option>
                                            <option value="Education">Education</option>
                                            <option value="Arts &amp; Theater">Arts &amp; Theater</option>
                                            <option value="Community">Community</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_458712377">
                                                <div class="ss-q-title">Link to more information</div>
                                            </label>
                                            <input type="text" name="entry.458712377" value="" class="ss-q-short" id="entry_458712377" dir="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item ss-paragraph-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_235897002">
                                                <div class="ss-q-title">Event Description</div>
                                            </label>
                                            <textarea name="entry.235897002" class="span12 ss-q-long" rows="10" id="entry_235897002" dir="auto"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_1202061424">
                                                <div class="ss-q-title">Organizer's Name</div>
                                            </label>
                                            <input type="text" name="entry.1202061424" value="" class="ss-q-short" id="entry_1202061424" dir="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="ss-form-question errorbox-good">
                                    <div dir="ltr" class="ss-item ss-text">
                                        <div class="ss-form-entry">
                                            <label class="ss-q-item-label" for="entry_244538038">
                                                <div class="ss-q-title">Organizer's Contact</div>
                                            </label>
                                            <input type="text" name="entry.244538038" value="" class="ss-q-short" id="entry_244538038" dir="auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="draftResponse" value="[]">
                        <input type="hidden" name="pageHistory" value="0">
                        <div class="ss-item ss-navigate">
                            <div class="ss-form-entry">
                                <input class="btn btn-success" type="submit" name="submit" value="Submit">
                                <button class="btn btn-danger" data-dismiss ="modal" aria-hidden="true">Cancel</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>