<div id="article-footer">
    <div id="sources">
        <p class="normal-display"><strong>Sources: </strong><a href="#">Xxxxxx</a>.</p>
    </div>

    <div id="credits">
        <p class="normal-display"><strong>Credits: </strong><a href="#">Xxxxxx</a>.</p>
    </div>

    <div id="open-source">
        <p class="small-display">Built using <a href="http://www.highcharts.com/">highcharts.js</a>, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
    </div>
</div>