<div id="content-article">
    <h4 class="kicker">Subhead here</h4>
    <h1>Lead Headline Here</h1>

    <div id="content-article-text">
        <p>Beard hoodie, magna tumblr chillwave. Letterpress thundercats fixie consectetur accusamus cray gastropub bicycle rights. Adipisicing narwhal magna marfa. Fap photo booth cred, excepteur organic terry richardson vegan aesthetic narwhal. Food truck viral sint vinyl cred. Mustache aute consequat salvia, synth etsy irure +1. High life etsy ullamco, officia voluptate nihil brunch cillum nostrud photo booth duis Austin hella banjo.</p>
    </div>

    <a class="btn btn-info" href="#">Read More</a>

</div>

<div id="content-display"></div>
