<div id="overline-navigation" class="hidden-phone">
    <ul>
        <li class="blog"><a href="http://www.chrislkeller.com">Blog</a></li>
        <li class="twitter"><a href="http://twitter.com/ChrisLKeller">Twitter</a></li>
        <li class="github"><a href="https://github.com/chrislkeller">GitHub</a></li>
        <li class="facebook"><a href="http://www.facebook.com/chrislkeller">Facebook</a></li>
        <li class="linkedin"><a href="http://www.linkedin.com/pub/chris-keller/1/662/384">LinkedIn</a></li>
        <li class="tumblr"><a href="http://chrislkeller.tumblr.com/">Tumblr</a></li>
        <li class="subscribe"><a href="http://feeds.feedburner.com/ChrisLKeller/">RSS</a></li>
    </ul>
</div>
<div id="content-header">
    <h1><a href="http://www.chrislkeller.com/">Chris L Keller ...</a></h1>
    <p>Featured Projects &amp; Demos</p>
</div>