body { padding-right: 0px; padding-left: 0px; }
table { font-size: 12px; float: left; }
.table th,
.table td { text-align: left }
.table th { font-size: 14px }
.table thead th { vertical-align: middle; cursor: pointer; }
tr.odd {background-color: #e8e8e8;}
tr.even {background-color: white;}
tr.odd td.sorting_1 {background-color: #D3D6FF;}
label, input, button, select, textarea { line-height: 30px }
input, textarea, select, .uneditable-input { height: 25px; line-height: 25px; }
select { width: 75px }
.dataTables_length { padding-left: 10px }
.dataTables_filter { padding-right: 10px }
.table-striped tbody>tr:nth-child(odd)>th>td.sorting_1 { background-color: #D3D6FF }