<div id="content-article">
    <h1>Tabletop List Using Handlebars</h1>
    <div id="content-article-text">
        <p>This is copy from an external handlebars template. It is not accepting data from tabletop.</p>
    </div>
</div>

<hr>