<div class="span4">
    <ul class="header-links clearfix pull-right">
        <li>
            <a href="https://scprcontribute.publicradio.org/" class="pledge-now icon">Contribute to KPCC</a>
            <a href="https://scprcontribute.publicradio.org/" target="_blank"><b>Pledge now</b></a>
        </li>
        <li>
            <div class="share-links clearfix">
                <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                <a class="facebook icon" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.scpr.org%2Fstatic%2Fmaps%2Fdear-mayor" onClick="return fbs_click()" target="_blank" title="Share This on Facebook"></a>
                <a class="twitter icon" href="http://twitter.com/share?text=With the election of L.A.'s new mayor only weeks away, we want to know what problems you want the mayor to tackle first&url=http://projects.scpr.org/static/maps/dear-mayor"></a>
            </div>
            <b>Share this page</b>
        </li>
    </ul>
</div>