<div id="content-article">
    <h4 class="kicker">Politics</h4>
    <h2>#DearMayor Map: What should LA's new mayor work on first?</h2>
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="content-article-metadata">
            <p><span class="credits">KPCC Staff &amp; <a href="http://www.scpr.org/about/people/staff/chris-keller">Chris Keller</a></span> | <span class="pubdate">Updated April 16, 2013</span></p>
        </div>
        <div id="content-article-text">
            <p>With the May general election only weeks away, Los Angeles is preparing to say goodbye to outgoing Mayor Antonio Villaraigosa and begin the process of selecting a brand new mayor.</p>
            <p>In advance of that, we want to begin the process of collecting your thoughts and feelings about what the new mayor should make his or her first priority when taking office. This map takes your responses and matches it with your neighborhood's approximate location.</p>
            <p>Check out the requests we've taken so far, and then <a href="http://www.scpr.org/news/2013/02/28/36177/dearmayor-tell-kpcc-what-you-want-your-new-mayor-t/#contribute" target="blank">contribute your own.</a></p>
        </div>
    </div>
</div>

<div id="content-article-buttons">
    <a class="btn btn-info" href="http://www.scpr.org/dearmayor">Read More</a>
</div>

<hr></hr>