<div class="row-fluid">
    <div class="span12">
        <div id="article-footer">

            <!--
            <div id="embed-this">
                <p class="hidden-tablet hidden-phone"><span class="btn btn-warning" style="cursor:pointer;" onclick="embedBox()">Embed this map</p>
            </div>

            <div id="sources">
                <p class="normal-display"><strong>Sources: </strong><a href="http://www.treasurer.ca.gov/">California State Treasurer's Office</a>.</p>
            </div>
            -->

            <div id="open-source">
                <p class="small-display">Built using <a href="http://leafletjs.com/">Leaflet.js, <a href="http://github.com/cavis/slidemapper" target="blank">slidemapper.js</a>, a jQuery plugin to create an animated slideshow tied to a Leaflet map, <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
                <p class="small-display">Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.</p>
                <p class="small-display">Map icons & images from <a href="http://mapicons.nicolasmollet.com" target="blank">Maps Icons Collection</a> designed by Nicolas Mollet, under <a href="http://creativecommons.org/licenses/by-sa/3.0" target="blank">Creative Commons 3.0 BY-SA</a>.</p>
            </div>
        </div>
    </div>
</div>