<div class="row-fluid">
    <div class="span12">
        <p>
        <span class="normal-display"><strong>Data Source: </strong><a href="http://www.cityofmadison.com/parkingUtility/garagesLots/availability/" target="_blank">City of Madison Parking Availability</a>.</span><br />
        <span class="normal-display"><strong>Built by </strong><a href="http://www.chrislkeller.com/" target="_blank">Chris Keller</a>.</span><br />
        <small>Built using <a href="http://www.python.org/" target="_blank">Python</a>, <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>, <a href="http://handlebarsjs.com/" target="_blank">handlebars.js</a> & <a href="https://developers.google.com/maps/" target="_blank">Google Maps API</a></small>
        </p>
    </div>
</div>