<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/projects/mad-parking" name="top" onclick="window.location.reload();">Mad Parking</a>
			<div class="bottom-nav-collapse collapse">
				<ul class="nav">
				</ul>
			</div>
		</div>
	</div>
</div>