<div id="userAddressInput">
    <form id="userAddressForm" class="form-inline" accept-charset="UTF-8" action="" method="post">
        <input class="input-x-large" id="street" name="street" placeholder="Street" type="text">
        <input class="input-small" id="city" name="city" value="Madison" type="text">
        <input class="input-small" id="state" name="state" value="Wis." type="text">
        <a class="btn btn-primary" id="nearest-destination" onclick="calculateDestination();">Submit</a>
    </form>
</div>