body{ 
	background-color:#333; 
	color:#777;
	font:normal 14px verdana, sans-serif;
	line-height:21px;
}

#box{ 
	margin:0 auto; 
	padding:0 0 50px 0; 
	width:600px; 
	/*background-color:#F00; */
}

h1,h2{ 
	font:bold 20px 'Lucida Grande', 'Trebuchet MS', sans-serif;
	margin-top:25px; 
}

h1{ font-size:24px; margin-bottom:36px; }
h2{ color:#f2aa24; margin-bottom:15px; }

.orange{ color:#f2aa24; }
.cyan, a{ color:#78c7f2; }

a{ outline:none; text-decoration:none; }
a:hover{ text-decoration:underline; color:#f2aa24; }

ul{ list-style:none; margin:0; padding:0; }
ol{ list-style-position:inside; margin:0 0 10px 0; padding:0;}
li{ padding:0px; margin-bottom:10px; }

#components, .customization{ margin:10px 0 0 25px; }
#components li, .customization li{ margin-bottom:3px; }

#gallery{ margin-top:20px; width:100%; }

#gallery img{ border: 5px solid #78c7f2; }

.code{ 
	margin:10px;
	font-size:12px;
	color:#6C0;
}

