/*HEADER IMAGE*/
#page-header-image
{/*CAN SET BACKGROUND COLOR HERE*/
background-color: #e8e8e8;
height: 100px; width: 100%; }

#page-header-image h1
{text-align: center;}

#page-header-logo h1
{background: url('../images/site-images/logo.jpg') no-repeat; }

#page-header-logo h1 a {display: block; height: 100px; }

/*SOCIAL LINKS*/
#social-links
{height: 45px; width: 100%;}

#social-links ul
{margin: 0 auto; width: 940px; list-style: none;}

#social-links ul li
{float: left;}

#social-links ul li a
{display: block; margin-right: 20px; width: 200px; font-size: 14px; line-height: 44px; text-align: center; text-decoration: none; color: #000000;}

#social-links ul li a:hover
{color: #ffffff;}
			
#social-links ul li.selected a
{ color: #fff;}
			
#social-links ul li.subscribe a
{margin-left: 22px; padding-left: 33px; text-align: left; background: url("../images/rss.png") left center no-repeat;}

#social-links ul li.twitter a
{margin-left: 22px; padding-left: 33px; text-align: left; background: url("../images/twitter.png") left center no-repeat;}

#social-links ul li.facebook a
{margin-left: 22px; padding-left: 33px; text-align: left; background: url("../images/facebook.png") left center no-repeat;}

#social-links ul li.youtube a
{margin-left: 22px; padding-left: 65px; text-align: left; background: url("../images/youtube.png") left center no-repeat;}

#social-links ul li.foursquare a
{margin-left: 22px; padding-left: 65px; text-align: left; background: url("../images/foursquare.png") left center no-repeat;}

/*MENU*/

#menu ul
{margin: 0 auto; width: 300px; list-style: none;}

#menu ul li
{float: left;}

#menu ul li a
{display: block; margin: 0 30px 20px 0px;  width: 150px; font-size: 20px; line-height: 20px; text-align: center; text-decoration: none; background-color: #333333; color:#fff; font-weight:bold; padding: 5px 0 5px 0;  border:2px solid #000000; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius: 4px;}

#menu ul li a:hover
{border:2px solid #333333; background-color:#ffffff; color:#000000;}

#menu ul li.selected a
{ color: #ffffff;}