<div id="content-article">
    <h4 class="kicker">Events</h4>
    <h1>Boyle Heights community calendar</h1>

    <div id="content-article-text">
        <p>View events in Boyle Heights and submitted by community residents. To submit your own, click the button below.</p>
    </div>

    <div id="content-article-buttons">
        <a class="btn btn-success" id="showmodule" href="javascript:void(0)" onclick="userSubmit();">Submit an event</a>
    </div>
</div>

<div id="data-user-submit"></div>