<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">Subhead here</h4>
                <h1>Earthquakes!</h1>
            </div>
            <div class="text collapse">
                <p><span class="credits">Produced by <a href="#">Xxxx Xxxxxx</a> &amp; <a href="#">Xxxx Xxxxxx</a></span> | <span class="pubdate">Published Oct. 28, 2013</span></p>
                <p>Beard hoodie, magna tumblr chillwave. Letterpress thundercats fixie consectetur accusamus cray gastropub bicycle rights. Adipisicing narwhal magna marfa. Fap photo booth cred, excepteur organic terry richardson vegan aesthetic narwhal. Food truck viral sint vinyl cred. Mustache aute consequat salvia, synth etsy irure +1. High life etsy ullamco, officia voluptate nihil brunch cillum nostrud photo booth duis Austin hella banjo.</p>
            </div>
            <div class="about collapse">
                <p><span class="pij">This project was informed by KPCC listeners. <a href="http://www.scpr.org/network/">Become a source. </span></a></p>
                <p><strong>About the data:</strong> Beard hoodie, magna tumblr chillwave. Letterpress thundercats fixie consectetur accusamus cray gastropub bicycle rights. Adipisicing narwhal magna marfa. Fap photo booth cred, excepteur organic terry. <strong>Source(s): </strong><a href="#" target="_blank">Beard hoodie, magna tumblr chillwave </a> and <a href="#" target="_blank">Beard hoodie, magna tumblr chillwave </a>. <strong>Built using</strong>: <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
                </p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".text"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                <a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-link"></span> Read more</a>
            </div>
        </div>
    </div>
</div>