<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-background"></div>
        <div id="content-display"></div>
        <div class="content-legend">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="la_aqueduct"><strong>The Los Angeles Aqueduct</span></strong> (Completed in 1913)</td>
                    </tr>
                    <tr>
                        <td class="mono_basin_extension"><strong>The Mono Basin Extension</span></strong> (Completed in 1940)</td>
                    </tr>
                    <tr>
                        <td class="second_aqueduct"><strong>The Second Aqueduct</span></strong> (Completed in 1970)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="content-map-canvas"></div>
    </div>
</div>