{{#results}}
	<div>
		<div style="float: left"><img src="{{profile_image_url}}"/></div>
		<p>
			<a href="http://twitter.com/{{from_user}}"><strong>{{from_user}}</strong></a><br/>
			{{text}}
		</p>
		<div style="clear:both">&nbsp;</div>
	</div>
{{/results}}