<div id="article-footer">
    <div id="open-source">
        <p class="small-display">Built using <a href="http://handlebarsjs.com/">handlebars.js</a> &amp; <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
    </div>
</div>