    <div id="content-article-text">
        <form>
            <input type="text" id="agency_name" placeholder="Agency Name">
            <input type="text" id="street_address" placeholder="Street Address">
            <input type="text" id="city" placeholder="City">
            <input type="text" id="state" placeholder="State">
            <input type="text" id="zip_code" placeholder="Zip Code">
<!--
            <label>Subject
                <select id="subject" name="subject" class="span6">
                    <option value="na" selected="">Choose One:</option>
                    <option value="service">General Customer Service</option>
                    <option value="suggestions">Suggestions</option>
                    <option value="product">Product Support</option>
                </select>
            </label>
-->
            <textarea class="input-xlarge" rows="10" id="data_request" placeholder="Data Sought"></textarea>
        </form>
    </div>

    <a class="btn btn-info" href="#" onclick="retriveData();">Generate the Letter</a>