<div class="row-fluid">
    <div class="span12">
        <div class="span6">
            <div id="entree">
                <h2>Entree</h2>
                <span id="entree-value">
                    <p>Click the button</p>
                </span>
            </div>
        </div>
        <div class="span6 meal-generator">
            <a id="entrees" class="btn btn-success" href="javascript:void(0)">Pick an Entree</a>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="span6">
            <div id="side">
                <h2>Side</h2>
                <span id="side-value">
                    <p>Click the button</p>
                </span>
            </div>
        </div>
        <div class="span6 meal-generator">
            <a id="sides" class="btn btn-success" href="javascript:void(0)">Pick a Side</a>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="span6">
            <div id="vegetable">
                <h2>Vegetable</h2>
                <span id="vegetable-value">
                    <p>Click the button</p>
                </span>
            </div>
        </div>
        <div class="span6 meal-generator">
            <a id="vegetables" class="btn btn-success" href="javascript:void(0)">Pick a Vegetable</a>
        </div>
    </div>
</div>