<div id="content-article">
    <div id="content-article-text">
        <p>Use the buttons below to choose from items that make up your favorite meals. Once you have a combination you like, add it to the list.</p>
    </div>
</div>