/*STRUCTURE*/

body
{background: #2E3133;}
	
#wrapper
{background: #666666; width: 960px;  height: 100%; margin: 40px auto 20px auto; padding: 10px;}

.shadow
{}

#navigation
{margin-bottom: 30px;}
	
#header-logo
{height: 100px; margin-bottom: 10px; clear: both; padding-left: 15px;}

#header-logo img
{border: 0; float: left; border-bottom: 2px solid #99cc66;}

#content
{width: 620px; float: left; padding-left: 15px; padding-right: 20px;}
	
#siderail
{width: 300px; float: right; padding-right: 0px;}
	
#footer
{padding-top: 20px; padding-bottom: 5px; clear: both;}

/*TYPOGRAPHY*/

body
{font-family: Garamond, Georgia, "Times New Roman", Times, serif; color: #cccccc;}
	
p
{font-size: 20px; text-indent:15px; line-height: 24px; text-transform: lowercase;}

h2
{color: #ffffff; font-size: 30px; text-transform: lowercase; margin: 5px 0 0 0;}
	
a
{color: #99cc66; text-decoration: none; font-size: 24px; font-weight: bold;}

a:hover
{color: #ffffff; text-decoration:underline;}
	
ul
{margin: 0; padding:0;}

li
{margin: 10px 0 0 15px; padding: 0;}

#navigation
{width: 960px; margin-bottom: 20px;}

#navigation ul
{list-style: none; padding-top: 15px;}

#navigation li
{display: inline;  margin-right: 10px;}

#footer p
{color: #ffffff; font-weight: bold;}